#head1{
    height: 50px;
    background-color: #292929;
}
#head2{
    height: 80px;
    background-color: #3b3b3b;
}



.topnav a {
    
    height: 80px;
    float: left;
    display: block;
    text-height: max-size;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border: groove black 0.5px;
    
   
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}


.topnav a.active {
    background-color: #4CAF50;
    color: white;
}
.bigButton{
    width: 150px;
}
#customer{
    margin-left: 50px;
}
#headLog{
    color: white;
    size: 22px;
    display: block;
    margin-top: 1%;
    margin-left: 40px;
}
#logInFrom{

    margin-top: 100px;
    margin-left: 300px;
    margin-right: 300px;
    
}
#label1{
    margin-top: 30px;
    margin-left: 40px;
    font-size: 18px;
    font-weight:bold;
}
#newCustomerButton{
    color: #fff;
    background-color: #5cb85c;
    border: 1px solid #439843;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.15),0 1px 1px rgba(0,0,0,0.075);
    background-image: none;
    float: right;
    margin-right: 40px;
}
#searchBox1{
    width: 200px;
    margin-left: 40px;
    display: block;
    float: left;
}
#searchButton1{
    display: block;
    float: left;
    margin-left: 5px;
}
#cutomer_table{
    border: solid black 2px;
   margin-top: 70px;
}
#cancel1{
    
    border: 1px solid black;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.15),0 1px 1px rgba(0,0,0,0.075);
    float: right;
    margin-right: 40px;

}


